
.hz-close { /* horizontal close together */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.hz-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hz-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.hz-left-top {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;;
}

/* .hz-left-center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
} */

.hz-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.hz-space-btwn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hz-space-btwn-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.hz-center-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.v-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.v-center-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.v-center-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}