/* :root {
    --purple-color: #7700ff;
    --blue-color: #2DE2E6;
    --red-orange-color: #FF3864;
    --orange-color: #FF6C11;
} */

#landing-page-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    gap: 4rem;
}

#name-window {
    margin-top: 5rem;
    min-width: 40rem;
    max-width: 40rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60rem;
    max-width: 60rem;
}

#projects-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two equal-width columns */
    grid-auto-rows: auto; /* Automatically adjust row height */
    gap: 3rem; /* Space between grid items */
    margin-top: 2rem;
}

@media (max-width: 64rem) { /* When the container width is less than 60rem */
    .projects-container {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns */
    }
}

@media (max-width: 42rem) { /* When the container width is less than 40rem */
    .projects-container {
        grid-template-columns: 1fr; /* Switch to 1 column */
    }
}

.card {
    background: black;
    border-radius: 1rem;
    position: relative;
  }
  
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    inset: -.75rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--purple-color),
        var(--blue-color),
        var(--pink-color),
        var(--red-orange-color),
        var(--orange-color),
        /* var(--blue-color), */
        var(--purple-color)
    );
    border-radius: inherit;
    animation: rotation 5s linear infinite;
  }
  
  .card::after {
    filter: blur(2rem);
  }

  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }

#landing-page-root #name-window .subheader p{
    color: var(--blue-color);
}
  
