.project-card {
    box-sizing: border-box; 
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;    
    width: 24rem;
    height: 33rem;
    padding: 1rem;
}

.card.project-card::before,
.card.project-card::after {
    inset: -.25rem;
    background: var(--orange-color); /* fallback solid */
    animation: none;
}

 /* Only .after gets blur */
.card.project-card::after {
  z-index: -2; /* Place it behind the ::before layer */
  filter: blur(.75rem); /* Glow only on the blurred ::after */
}

.card.project-card:hover::before,
.card.project-card:hover::after {
  background: conic-gradient(
    from var(--gradient-angle),
    var(--purple-color),
    var(--blue-color),
    var(--pink-color),
    var(--red-orange-color),
    var(--orange-color),
    var(--blue-color),
    var(--purple-color)
  );
  animation: rotation 5s linear infinite;
}

.card.project-card:hover::after {
  filter: blur(2rem); /* Glow only on the blurred ::after */
}

/* when project card hovered curosor pointer and border glow    */
.project-card:hover {
    cursor: pointer;
}


.project-card-image {
    max-width: 50%;
    min-width: 50%;

    aspect-ratio: 1 / 1; 
    /* object-fit: cover; */
    border-radius: 50%;
}

.project-card-content {
    margin: 1rem 0 1rem 0;
}

.project-card-link-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    /* margin-top: auto; */
    align-self: end;
    height: 40px;
}

.project-card-link {
    color: var(--blue-color);
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.project-card-link:hover {
    cursor: pointer;
}

.project-card-link-icon {
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    fill: var(--blue-color);
}

.project-card-link-icon:hover {
    fill: var(--orange-color);
}

.project-card-tech-used-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: auto;
    row-gap: 0.5rem; /* Optional: extra vertical spacing between rows */
}

.tech-used-chip {
    font-weight: 600;
}